<h1 class="card-title h3 mb-4 font-weight-bolder">Colaboradores</h1>

<div class="row">
    <div class="col-lg-4">
        <div class="card bg-white rounded border-0 shadow-sm mb-3">
            <div class="card--header mb-3 d-flex align-items-center justify-content-between p-3">
                <div class="card-title h5 mb-0">Times</div>
            </div>
        
            <nav class="nav nav-pills flex-column mb-3">
                <a class="nav-link rounded-0" href="#">Produto</a>
                <a class="nav-link rounded-0 active" href="#">Fábrica</a>
                <a class="nav-link rounded-0" href="#">Q.A</a>
                <a class="nav-link rounded-0" href="#">Comercial</a>
            </nav>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="card bg-white rounded shadow-sm border-0">
            <div class="card--header align-items-lg-center p-3 d-flex flex-column flex-lg-row justify-content-between">
                <div class="d-flex align-items-center">
                    <h5 class="card-title mb-3 mb-lg-0 mr-2">Time de Produto</h5>
                </div>
            
                <div class="d-flex">
                    <button class="btn btn-outline-primary d-flex justify-content-center"><i class="material-icons mr-2">filter_list</i> Filtro</button>
            
                    <div class="input-group ml-3">
                        <input type="text" class="form-control" placeholder="Buscar">
                        <div class="input-group-append">
                            <button class="btn btn-primary d-flex justify-content-center" type="button" id="button-addon2"><i class="material-icons">search</i></button>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="card-body">
                <div class="d-flex flex-column">
                    <div class="user d-flex align-items-center justify-content-between text-decoration-none p-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="https://dummyimage.com/50x50" class="rounded-circle mr-3" alt="">
                
                            <div class="user-info">
                                <p class="d-block mb-0">Uellington Palma</p>
                                <small class="text-muted">Front End</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="card-footer bg-white d-flex justify-content-center justify-content-lg-end p-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination mb-0">
                        <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">&laquo;</span> Anterior</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Próximo <span aria-hidden="true">&raquo;</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>