<div class="bg-light">
  <main>
    <!-- Image and text -->
    <nav class="navbar navbar-dark d-flex justify-content-center bg-dark pt-2 pb-5 pt-lg-3 pb-lg-5">
      <a class="navbar-brand" href="#">
        <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        <p class="mb-0 mt-0">Gestão Organizacional</p>
        <small class="d-block text-center">CronApp</small>
      </a>
    </nav>

    <section class="questions mt-2 mt-lg-4">
      <div class="container">
        <header class="mb-3 mb-lg-5">
            <h2>Questionário de Avaliação.</h2>
            <p class="lead d-flex align-items-center"><i class="material-icons mr-lg-3">person</i> Avaliando Parceiro (Fulano de Tal).</p>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <div class="d-flex flex-column bg-white shadow-sm p-5 rounded text-decoration-none h-auto mb-3 mb-lg-0">
              <header class="steps mb-5 mb-lg-5">
                <ul class="steps--nav justify-content-between d-flex p-0 m-0">
                  <li class="done"><span><i class="material-icons">done</i></span></li>
                  <li class="done"><span><i class="material-icons">done</i></span></li>
                  <li class="done"><span><i class="material-icons">done</i></span></li>
                  <li class="done"><span><i class="material-icons">done</i></span></li>
                </ul>
              </header>

              <div class="questions-body mb-3 mb-lg-5">
                <div class="body--item mb-5">
                  <h4 class="mb-4 text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>

                  <div class="body--options">
                    <div class="form-group">
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                    </div>
                  </div>
                </div>

              </div>

              <div class="d-flex justify-content-between align-items-center">
                <a class="btn btn-link d-flex align-items-center text-decoration-none" href="file:///C:/Users/uell.palma/Documents/dev/avaliacao360/gestao-institucional/questions4.html"><i class="material-icons mr-2">keyboard_backspace</i> Anterior</a>
                <a class="btn btn-primary btn-lg d-flex align-items-center" href="file:///C:/Users/uell.palma/Documents/dev/avaliacao360/gestao-institucional/index.html">Enviar <i class="material-icons ml-2">send</i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
</div>