<aside class="sidebar-bar d-none d-xl-flex flex-column bg-white shadow-sm border-right vh-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
      <a class="navbar-brand text-white" href="#">CronApp</a>
    </div>
  </nav>

  <div class="user d-flex align-items-center p-3 bg-light">
    <img src="https://dummyimage.com/70x70" class="rounded-circle mr-3" alt="">

    <div class="user-info text-light">f
      <h3 class="h5 mb-0 text-dark">Uellington Palma</h3>
      <small class="text-muted">Front End</small>
    </div>
  </div>

  <ul class="nav nav-pills flex-column mt-3">
    <li class="nav-item">
      <a class="nav-link rounded-0 d-flex align-items-center" href="./index.html"><i class="material-icons mr-2">home</i> Início</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-0 d-flex align-items-center" href="./clima-organizacional.html"><i class="material-icons mr-2">mood</i> Clima Organizacional</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-0 active d-flex align-items-center" href="./avaliacoes.html"><i class="material-icons mr-2">dvr</i> Avaliações</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-0 d-flex align-items-center" href="./formularios.html"><i class="material-icons mr-2">edit</i> Formulários</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-0 d-flex align-items-center" href="./colaboradores.html"><i class="material-icons mr-2">people</i> Colaboradores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-0 d-flex align-items-center" href="./feedbacks.html"><i class="material-icons mr-2">chat</i> Feedbacks</a>
    </li>
  </ul>

  <div class="sidebar-footer mt-auto pb-3">
    <ul class="nav flex-column mt-3">
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" href="./configuracoes.html"><i class="material-icons mr-2">settings</i> Configurações</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" href="#"><i class="material-icons mr-2">exit_to_app</i> Sair</a>
      </li>
    </ul>
  </div>
</aside>