<div class="card bg-white rounded border-0 shadow-sm">
    <div class="card--header align-items-lg-center p-3 d-flex flex-column flex-lg-row justify-content-between">
        <div class="d-flex align-items-center mb-3 mb-lg-0">
            <h5 class="card-title mb-0 mr-2">Dados</h5>
        </div>
    </div>
    
    <form>
        <div class="card-body">
            <div class="form-row mb-5">
                <div class="form-group col-md-5">
                    <label for="exampleInputEmail1">Seu Nome</label>
                    <input type="text" name="name" class="form-control" id="exampleInputEmail1">
                </div>
            </div>
            
            <h5 class="mb-3">Alterar Senha</h5>
            
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="exampleInputPassword1">Nova Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputPassword1">Repetir Nova Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
            </div>
        </div>
    
        <div class="card-footer bg-white d-flex justify-content-center justify-content-lg-end p-3">
            <button type="submit" class="btn btn-primary btn-success">Salvar</button>
        </div>
    </form>
</div>