<h1 class="card-title h3 mb-2 font-weight-bolder">Configurações</h1>
<p class="lorem text-muted font-weight-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum sed molestias quo necessitatibus quod amet iure quasi.</p>

<div class="row">
    <div class="col-lg-4 mb-3">
        <div class="card bg-white rounded border-0 shadow-sm">
            <nav class="nav nav-pills flex-column mt-3 mb-3">
                <a class="nav-link rounded-0" ui-sref="home.settings.dados" ui-sref-active="active">Meus Dados</a>
                <a class="nav-link rounded-0" ui-sref="home.settings.curriculum" ui-sref-active="active">Meu Currículo</a>
                <a class="nav-link active rounded-0" ui-sref="home.settings.certificates" ui-sref-active="active">Certificações</a>
            </nav>
        </div>
    </div>

    <div class="col-lg-8">
        <div ui-view></div>
    </div>
</div>