<div class="card bg-white rounded shadow-sm border-0">
    <div class="card--header align-items-lg-center p-3 d-flex flex-column flex-lg-row justify-content-between">
        <div class="d-flex align-items-center mb-3 mb-lg-0">
            <h5 class="card-title mb-0 mr-2">Competências</h5>
            <button class="btn btn-success btn-sm d-inline-flex justify-content-center ml-3" data-toggle="modal" data-target="#exampleModal">Novo <i class="material-icons ml-2">add</i></button>
        </div>

        <div class="input-group w-50">
            <input type="text" class="form-control" placeholder="Buscar">
            <div class="input-group-append">
                <button class="btn btn-primary d-flex justify-content-center" type="button" id="button-addon2"><i class="material-icons">search</i></button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="d-flex flex-column">
            <div class="user d-flex align-items-center justify-content-between p-3" href="">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="user-info">
                        <p class="d-block mb-0">Produto</p>
                    </div>
                </div>

                <div class="actions invisible">
                    <button class="btn btn-link btn-sm text-muted"><i class="material-icons">delete</i></button>
                    <button class="btn btn-link btn-sm"><i class="material-icons">edit</i></button>
                </div>
            </div>

            <div class="user d-flex align-items-center justify-content-between p-3" href="">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="user-info">
                        <p class="d-block mb-0">Fábrica</p>
                    </div>
                </div>

                <div class="actions invisible">
                    <button class="btn btn-link btn-sm text-muted"><i class="material-icons">delete</i></button>
                    <button class="btn btn-link btn-sm"><i class="material-icons">edit</i></button>
                </div>
            </div>

            <div class="user d-flex align-items-center justify-content-between p-3" href="">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="user-info">
                        <p class="d-block mb-0">Q.A</p>
                    </div>
                </div>

                <div class="actions invisible">
                    <button class="btn btn-link btn-sm text-muted"><i class="material-icons">delete</i></button>
                    <button class="btn btn-link btn-sm"><i class="material-icons">edit</i></button>
                </div>
            </div>

            <div class="user d-flex align-items-center justify-content-between p-3" href="">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="user-info">
                        <p class="d-block mb-0">Comercial</p>
                    </div>
                </div>

                <div class="actions invisible">
                    <button class="btn btn-link btn-sm text-muted"><i class="material-icons">delete</i></button>
                    <button class="btn btn-link btn-sm"><i class="material-icons">edit</i></button>
                </div>
            </div>

        </div>
    </div>

    <div class="card-footer bg-white d-flex justify-content-center justify-content-lg-end p-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
                <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">&laquo;</span> Anterior</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Próximo <span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </nav>
    </div>
</div>